
<div class="mb-3">
  <input type="text" [(ngModel)]="filterColor" class="form-control" id="filterColor"
      placeholder="arama ifadesi giriniz">
</div>



  
<ul class="list-group">
  <li class="list-group-item bg-light fw-bold cursor-pointer btn-toggle collapsed"  data-bs-toggle="collapse"
  data-bs-target="#brands-collapse"
  aria-expanded="true">Renkler
  <!-- <span class="badge bg-dark total">{{color.length}}</span> -->
</li>
    <div class="collapse show" id="brands-collapse">
      <li
      (click)= "setCurrentColor(color)"
        routerLink="/cars/color/{{ color.colorId }}"
        *ngFor="let color of colors|filterColor:filterColor"
        [class]="getCurrentColorClass(color)"
        class="cursor-pointer outline-none shadow-none">
        {{ color.colorName }}
      </li>
    </div>
  </ul>
