
<button type="button" click="routerLink" routerLink="add" class="btn btn-primary btn-lg btn-block">Araç ekle</button>

<table class="table table-hover">
    <thead>
        <tr>
            
            <th scope="col">Marka ismi</th>
           
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let brand of brands">
            <th scope="row">{{brand.brandId}}</th>
            <td>{{brand.brandName}}</td>
            
            <td>
                <button class="btn btn-warning" click="routerLink" routerLink="update/{{brand.brandId}}">Güncelle</button>
            <td>
        </tr>
    </tbody>
</table>
