<div class="container">
    <div class="row">
        <div class="col-md-3">
            <app-brand></app-brand>
            <app-color></app-color>
        </div>
        <div class="col-md-9">

            <div *ngIf="dataLoaded==false">
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>


            <div>
                <!-- <input type="text" [(ngModel)]="filterText" class="form-control" id="filterText"
        placeholder="arama ifadesi giriniz"> -->

                <head>
                    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
                    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
                </head>

                <body>
                    <div class="search-container">
                        <input [(ngModel)]="filterText" type="text" name="search" placeholder="Araç ara"
                            class="search-input">
                        <a class="search-btn">
                            <i class="fas fa-search"></i>
                        </a>
                    </div>
                </body>


                <div *ngIf="filterText" class="alert alert-success">
                    {{filterText}} aradınız
                </div>
                <app-filter-car></app-filter-car>
                <table *ngIf="dataLoaded==true" class="table">
                    <thead>
                        <tr>
                            <th>Resim</th>
                            <th>Marka</th>
                            <th>Model</th>
                            <th>Fiyat</th>

                        </tr>
                        <tr *ngFor="let car of cars | filterCar:filterText">
                            <td><img style="height: 40px;" *ngIf="car.images.length !== 0"
                                    [src]="baseImageUrl + car.images[0]" alt="">
                                <img style="height: 40px;" *ngIf="car.images.length === 0"
                                    [src]="baseImageUrl + defaultImage" alt="">
                            </td>
                            <td>{{car.brandName}}</td>
                            <td>{{car.modelYear}}</td>
                            <td>{{car.dailyPrice}} ₺</td>

                            <a routerLink="/cars/cardetail/{{ car.carId }}"
                                class="bg-success btn text-white">Detaylar</a>
                        </tr>
                    </thead>
                </table>

                <div *ngIf="empty==true">
                    <h2 class="mt-4"> Filtereye uygun araç bulunamadı</h2>
                </div>

            </div>
        </div>
    </div>