<div class="content">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h5 class="title text-center">Araba güncelle</h5>
            </div>
            <div *ngIf="colorUpdate" class="card-body">
                <form [formGroup]="colorUpdate">
                    <div class="mb-3">
                        <label for="colorName">Renk adı</label>
                        <div class="form-group">
                            <input type="text" id="colorName" formControlName="colorName" class="form-control"  />
                        </div>
                    </div>

        

                </form>
     
            </div>
            <div class="card-footer">
                <button class="btn btn-fill btn-success" (click)="update()" style="float: right;">Güncelle</button>
            </div>
        </div>
    </div>
</div>